/*Кнопка прокрутки вверх*/
.no-transparency.scroll {
  @include media-query(tablet-less) {
    position: fixed;
    bottom: 40px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    background-color: $accent-color;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    animation: slide-top 1s linear 2s infinite alternate both;
  }
}
