/*Cоциальные сети -- ОБЩЕЕ */
.social {
  @extend %list;
  @include centered-flex();

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    @include centered-flex();
    text-decoration: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color $transition-duration $transition-function,
      color $transition-duration $transition-function;
  }

  &__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
}
