/* Список портфолио */

.projects {
  @extend %list;

  @include media-query(tablet) {
    // display: flex;
    // flex-wrap: wrap;
    // gap: $indent;

    display: grid;
    grid-gap: $indent;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-query(desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item:not(:last-child) {
    @include media-query(tablet-less) {
      margin-bottom: 30px;
    }
  }

  &__item {
    //    @media screen and (min-width:$tablet) {
    //     @include flex-basis($indent, 2);
    // }
    //    @media screen and (min-width:$desktop) {
    //     @include flex-basis($indent, 3);
    // }

    @include transition(box-shadow);
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__box {
    position: relative;
    overflow: hidden;
  }

  &__description {
    padding: 20px 24px;
    border: 1px solid $portfolio-project-border;
    border-top: 0;
    bottom: 0;

    flex-grow: 1;
  }

  &__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    margin-bottom: 4px;
  }

  &__text {
    color: $primary-text-color;

    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $portfolio-overlay-text-bg-color;

  transform: translateY(100%);

  @include transition(transform);

  &__text {
    color: $primary-white-color;

    font-weight: 400;
    font-size: 16px;
    line-height: calc(18.75 / 16);

    padding: 30px 24px;

    @include media-query(mobile) {
      font-size: 18px;
      line-height: calc(28 / 18);
      padding: 77px 24px;
    }

    @include media-query(tablet) {
      padding: 49px 24px;
    }

    @include media-query(desktop) {
      padding: 63px 24px;
    }
  }

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0);
  }
}
