.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__container {
    display: flex;
    align-items: center;
  }

//   .team-container,
//   .doing-container,
//   .portfolio-countainer {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//   }


















