$font-family-roboto: Roboto, sans-serif;
$font-family-raleway: Raleway, sans-serif;

$primary-text-color: #757575;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$second-grey-color: #f5f4fa;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #2f303a;
$contacts-ft-color: rgba(255, 255, 255, 0.6);
$social-links-ft-bg-color: rgba(255, 255, 255, 0.1);
$footer-subsription-input-border-color: rgba(255, 255, 255, 0.3);
$button-hover-color: #188ce8;
$header-border-bottom-color: #ececec;
$portfolio-project-border: #eeeeee;
$clients-primary-color: #afb1b8;
$work-text-bg-color: rgba(47, 48, 58, 0.8);
$portfolio-overlay-text-bg-color: rgba(33, 150, 243, 0.9);
$modal-window-bg-color: rgba(0, 0, 0, 0.2);
$second-border-color: rgba(0, 0, 0, 0.1);
$third-border-color: rgba(33, 33, 33, 0.2);
$modal-window-commentary-text-color: rgba(117, 117, 117, 0.5);

$transition-duration: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);

$indent: 30px;
