.about {
  @include media-query(tablet-less) {
    margin-bottom: 60px;
  }

  @include media-query(tablet) {
    margin-right: 165px;
  }

  @include media-query(desktop) {
    margin-right: 70px;
  }
}

.footer-contacts {
  @extend %list;
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    color: $contacts-ft-color;
    font-style: normal;
    line-height: calc(24 / 14);
    text-decoration: none;
    @include transition();
  }

  &__link--white {
    color: $primary-white-color;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}
